---
import LabSearch from '../../assets/labsearch.svg';
import Ebay from '../../assets/ebay.svg';
import Simidan from '../../assets/simidan.svg';
import Famir from '../../assets/famir.svg';
import UR from '../../assets/images/UR.svg';
import Lamp from '../../assets/images/Frame 1000005242.svg';
--- 
 
 <section id="portfolio-logos" class="w-full py-12 sm:py-16 mb-16 ">
      <!-- Top lane -->
      <div class="overflow-hidden">
        <div class="slider-track">
          <div class="logo">
            <img src={LabSearch.src} alt="LabSearch" />
          </div>
          <div class="logo">
            <img src={Ebay.src} alt="eBay" />
          </div>
          <div class="logo">
            <img src={Simidan.src} alt="Simidan" />
          </div>
          <div class="logo">
            <img src={Famir.src} alt="Famir" />
          </div>
          <div class="logo"><img src={UR.src} alt="UR" /></div>
          <!-- Duplicates for seamless loop -->
          <div class="logo">
            <img src={LabSearch.src} alt="LabSearch" />
          </div>
          <div class="logo">
            <img src={Ebay.src} alt="eBay" />
          </div>
          <div class="logo">
            <img src={Simidan.src} alt="Simidan" />
          </div>
          <div class="logo">
            <img src={Famir.src} alt="Famir" />
          </div>
          <div class="logo"><img src={UR.src} alt="UR" /></div>
          <div class="logo">
            <img src={LabSearch.src} alt="LabSearch" />
          </div>
          <div class="logo">
            <img src={Ebay.src} alt="eBay" />
          </div>
          <div class="logo">
            <img src={Simidan.src} alt="Simidan" />
          </div>
          <div class="logo">
            <img src={Famir.src} alt="Famir" />
          </div>
          <div class="logo"><img src={UR.src} alt="UR" /></div>
          <!-- Duplicates for seamless loop -->
          <div class="logo">
            <img src={LabSearch.src} alt="LabSearch" />
          </div>
          <div class="logo">
            <img src={Ebay.src} alt="eBay" />
          </div>
          <div class="logo">
            <img src={Simidan.src} alt="Simidan" />
          </div>
          <div class="logo">
            <img src={Famir.src} alt="Famir" />
          </div>
          <div class="logo"><img src={UR.src} alt="UR" /></div>
          <div class="logo">
            <img src={LabSearch.src} alt="LabSearch" />
          </div>
          <div class="logo">
            <img src={Ebay.src} alt="eBay" />
          </div>
          <div class="logo">
            <img src={Simidan.src} alt="Simidan" />
          </div>
          <div class="logo">
            <img src={Famir.src} alt="Famir" />
          </div>
          <div class="logo"><img src={UR.src} alt="UR" /></div>
          <!-- Duplicates for seamless loop -->
          <div class="logo">
            <img src={LabSearch.src} alt="LabSearch" />
          </div>
          <div class="logo">
            <img src={Ebay.src} alt="eBay" />
          </div>
          <div class="logo">
            <img src={Simidan.src} alt="Simidan" />
          </div>
          <div class="logo">
            <img src={Famir.src} alt="Famir" />
          </div>
          <div class="logo"><img src={UR.src} alt="UR" /></div>
        </div>
      </div>

      <!-- Bottom lane -->
      <div class="overflow-hidden mt-6">
        <div class="slider-track reverse">
          <div class="logo">
            <img src={LabSearch.src} alt="LabSearch" />
          </div>
          <div class="logo">
            <img src={Ebay.src} alt="eBay" />
          </div>
          <div class="logo">
            <img src={Simidan.src} alt="Simidan" />
          </div>
          <div class="logo">
            <img src={Famir.src} alt="Famir" />
          </div>
          <div class="logo"><img src={UR.src} alt="UR" /></div>
          <!-- Duplicates for seamless loop -->
          <div class="logo">
            <img src={LabSearch.src} alt="LabSearch" />
          </div>
          <div class="logo">
            <img src={Ebay.src} alt="eBay" />
          </div>
          <div class="logo">
            <img src={Simidan.src} alt="Simidan" />
          </div>
          <div class="logo">
            <img src={Famir.src} alt="Famir" />
          </div>
          <div class="logo"><img src={UR.src} alt="UR" /></div>
          <div class="logo">
            <img src={LabSearch.src} alt="LabSearch" />
          </div>
          <div class="logo">
            <img src={Ebay.src} alt="eBay" />
          </div>
          <div class="logo">
            <img src={Simidan.src} alt="Simidan" />
          </div>
          <div class="logo">
            <img src={Famir.src} alt="Famir" />
          </div>
          <div class="logo"><img src={UR.src} alt="UR" /></div>
          <!-- Duplicates for seamless loop -->
          <div class="logo">
            <img src={LabSearch.src} alt="LabSearch" />
          </div>
          <div class="logo">
            <img src={Ebay.src} alt="eBay" />
          </div>
          <div class="logo">
            <img src={Simidan.src} alt="Simidan" />
          </div>
          <div class="logo">
            <img src={Famir.src} alt="Famir" />
          </div>
          <div class="logo"><img src={UR.src} alt="UR" /></div>
          <div class="logo">
            <img src={LabSearch.src} alt="LabSearch" />
          </div>
          <div class="logo">
            <img src={Ebay.src} alt="eBay" />
          </div>
          <div class="logo">
            <img src={Simidan.src} alt="Simidan" />
          </div>
          <div class="logo">
            <img src={Famir.src} alt="Famir" />
          </div>
          <div class="logo"><img src={UR.src} alt="UR" /></div>
          <!-- Duplicates for seamless loop -->
          <div class="logo">
            <img src={LabSearch.src} alt="LabSearch" />
          </div>
          <div class="logo">
            <img src={Ebay.src} alt="eBay" />
          </div>
          <div class="logo">
            <img src={Simidan.src} alt="Simidan" />
          </div>
          <div class="logo">
            <img src={Famir.src} alt="Famir" />
          </div>
          <div class="logo"><img src={UR.src} alt="UR" /></div>
          <div class="logo">
            <img src={LabSearch.src} alt="LabSearch" />
          </div>
          <div class="logo">
            <img src={Ebay.src} alt="eBay" />
          </div>
          <div class="logo">
            <img src={Simidan.src} alt="Simidan" />
          </div>
          <div class="logo">
            <img src={Famir.src} alt="Famir" />
          </div>
          <div class="logo"><img src={UR.src} alt="UR" /></div>
          <!-- Duplicates for seamless loop -->
          <div class="logo">
            <img src={LabSearch.src} alt="LabSearch" />
          </div>
          <div class="logo">
            <img src={Ebay.src} alt="eBay" />
          </div>
          <div class="logo">
            <img src={Simidan.src} alt="Simidan" />
          </div>
          <div class="log ">
            <img src={Famir.src} alt="Famir" />
          </div>
          <div class="logo"><img src={UR.src} alt="UR" /></div>
          <div class="logo">
            <img src={LabSearch.src} alt="LabSearch" />
          </div>
          <div class="logo">
            <img src={Ebay.src} alt="eBay" />
          </div>
          <div class="logo">
            <img src={Simidan.src} alt="Simidan" />
          </div>
          <div class="logo">
            <img src={Famir.src} alt="Famir" />
          </div>
          <div class="logo"><img src={UR.src} alt="UR" /></div>
          <!-- Duplicates for seamless loop -->
          <div class="logo">
            <img src={LabSearch.src} alt="LabSearch" />
          </div>
          <div class="logo">
            <img src={Ebay.src} alt="eBay" />
          </div>
          <div class="logo">
            <img src={Simidan.src} alt="Simidan" />
          </div>
          <div class="logo">
            <img src={Famir.src} alt="Famir" />
          </div>
          <div class="logo"><img src={UR.src} alt="UR" /></div>
        </div>
      </div>

      <!-- CTA -->
      <div class="text-center mt-12">
        <a href="/Portfel"
          class="inline-flex items-center cursor-pointer bg-gradient-to-r from-[#F9B513]
             to-[#EA601E] text-white font-semibold rounded-[24px] px-[6px] sm:px-[6px] py-[6px] px-l-[32px] sm:py-[6px] shadow-lg hover:opacity-95 transition font-inter-tight"
        >
          <span class="ml-[32px]">PORTFEL BILAN TANISHISH</span>
          <img
            src={Lamp.src}
            alt=""
            class="w-[50px] h-[52px] lg:w-10 lg:h-10 ml-3"
          />
        </a>
      </div>
    </section>