---
import LabSearch from "../../assets/labsearch.svg";
import Ebay from "../../assets/ebay.svg";
import Simidan from "../../assets/simidan.svg";
import Famir from "../../assets/famir.svg";
import UR from "../../assets/images/UR.svg";
import Lamp from "../../assets/images/Frame 1000005242.svg";
import darkFamir from "../../assets/images/darkFamir.svg";
import darkLab from "../../assets/images/darkLab.svg";

const { lang } = Astro.props;
---

<section id="portfolio-logos" class="w-ful mb-[50px] sm:mb-20">
  <!-- Top lane -->
  <div class="overflow-hidden w-[110%] mx-auto">
    <div class="slider-track">
      <div class="logo">
        <img src={LabSearch.src} alt="LabSearch" class="block dark:hidden" />
        <img src={darkLab.src} alt="LabSearch" class="hidden dark:block" />
      </div>
      <div class="logo"><img src={Ebay.src} alt="eBay" /></div>
      <div class="logo"><img src={Simidan.src} alt="Simidan" /></div>
      <div class="logo">
        <img src={Famir.src} alt="Famir" class="block dark:hidden" />
        <img src={darkFamir.src} alt="Famir" class="hidden dark:block" />
      </div>
      <div class="logo"><img src={UR.src} alt="UR" /></div>

      <!-- Duplicates for seamless loop -->
      <div class="logo">
        <img src={LabSearch.src} alt="LabSearch" class="block dark:hidden" />
        <img src={darkLab.src} alt="LabSearch" class="hidden dark:block" />
      </div>
      <div class="logo"><img src={Ebay.src} alt="eBay" /></div>
      <div class="logo"><img src={Simidan.src} alt="Simidan" /></div>
      <div class="logo">
        <img src={Famir.src} alt="Famir" class="block dark:hidden" />
        <img src={darkFamir.src} alt="Famir" class="hidden dark:block" />
      </div>
      <div class="logo"><img src={UR.src} alt="UR" /></div>

      <div class="logo">
        <img src={LabSearch.src} alt="LabSearch" class="block dark:hidden" />
        <img src={darkLab.src} alt="LabSearch" class="hidden dark:block" />
      </div>
      <div class="logo"><img src={Ebay.src} alt="eBay" /></div>
      <div class="logo"><img src={Simidan.src} alt="Simidan" /></div>
      <div class="logo">
        <img src={Famir.src} alt="Famir" class="block dark:hidden" />
        <img src={darkFamir.src} alt="Famir" class="hidden dark:block" />
      </div>
      <div class="logo"><img src={UR.src} alt="UR" /></div>

      <!-- Duplicates for seamless loop -->
      <div class="logo">
        <img src={LabSearch.src} alt="LabSearch" class="block dark:hidden" />
        <img src={darkLab.src} alt="LabSearch" class="hidden dark:block" />
      </div>
      <div class="logo"><img src={Ebay.src} alt="eBay" /></div>
      <div class="logo"><img src={Simidan.src} alt="Simidan" /></div>
      <div class="logo">
        <img src={Famir.src} alt="Famir" class="block dark:hidden" />
        <img src={darkFamir.src} alt="Famir" class="hidden dark:block" />
      </div>
      <div class="logo"><img src={UR.src} alt="UR" /></div>
    </div>
  </div>

  <!-- Bottom lane -->
  <div class="overflow-hidden mt-6">
    <div class="slider-track reverse">
      <div class="logo">
        <img src={LabSearch.src} alt="LabSearch" class="block dark:hidden" />
        <img src={darkLab.src} alt="LabSearch" class="hidden dark:block" />
      </div>
      <div class="logo"><img src={Ebay.src} alt="eBay" /></div>
      <div class="logo"><img src={Simidan.src} alt="Simidan" /></div>
      <div class="logo">
        <img src={Famir.src} alt="Famir" class="block dark:hidden" />
        <img src={darkFamir.src} alt="Famir" class="hidden dark:block" />
      </div>
      <div class="logo"><img src={UR.src} alt="UR" /></div>

      <!-- Duplicates for seamless loop -->
      <div class="logo">
        <img src={LabSearch.src} alt="LabSearch" class="block dark:hidden" />
        <img src={darkLab.src} alt="LabSearch" class="hidden dark:block" />
      </div>
      <div class="logo"><img src={Ebay.src} alt="eBay" /></div>
      <div class="logo"><img src={Simidan.src} alt="Simidan" /></div>
      <div class="logo">
        <img src={Famir.src} alt="Famir" class="block dark:hidden" />
        <img src={darkFamir.src} alt="Famir" class="hidden dark:block" />
      </div>
      <div class="logo"><img src={UR.src} alt="UR" /></div>

      <div class="logo">
        <img src={LabSearch.src} alt="LabSearch" class="block dark:hidden" />
        <img src={darkLab.src} alt="LabSearch" class="hidden dark:block" />
      </div>
      <div class="logo"><img src={Ebay.src} alt="eBay" /></div>
      <div class="logo"><img src={Simidan.src} alt="Simidan" /></div>
      <div class="logo">
        <img src={Famir.src} alt="Famir" class="block dark:hidden" />
        <img src={darkFamir.src} alt="Famir" class="hidden dark:block" />
      </div>
      <div class="logo"><img src={UR.src} alt="UR" /></div>
    </div>
  </div>

  <!-- CTA -->
  <div class="text-center mt-12">
    <a
      href={`/${lang}/form`}
      class="inline-flex items-center justify-center
             bg-gradient-to-r from-[#F9B513]
             to-[#EA601E] text-white text-[16px]
             sm:text-xl font-semibold rounded-3xl
             pl-8 pr-1.5 py-1.5 gap-4 sm:gap-4 tracking-[0.04em]
             hover:opacity-95 transition"
    >
      {lang === 'uz' && 'PORTFEL BILAN TANISHISH'}
      {lang === 'ru' && 'ОЗНАКОМИТЬСЯ С ПОРТФЕЛЕМ'}
      {lang === 'en' && 'VIEW PORTFOLIO'}
      <img
        src={Lamp.src}
        alt="arrow icon"
        class="w-[38px] h-[40px] sm:w-[50px] sm:h-[52px] rounded-2xl"
      />
    </a>
  </div>
</section>
